<div ng-controller="userController as vm">
  <md-content layout="row" layout-fill>

    <md-content layout-fill class="bg-left">
      <img src="assets/chicken.png" width="35%">
      <span>KANDANG AYAM</span>
      <h1>CIMERANG</h1>
    </md-content>

    <md-content layout-fill layout-align="center" class="bg-right">
      <div class="input-section">
        <form ng-submit="vm.login()">
          <div layout="column" layout-padding>
              <md-input-container flex>
                  <label>No.RFID</label>
                  <input ng-model="vm.user.email" type="text" autofocus>
              </md-input-container>
          </div>
          <div layout="column" layout-padding>
              <md-input-container flex>
                  <label>Password</label>
                  <input ng-model="vm.user.password" type="password">
              </md-input-container>
          </div>
          <div layout="column" layout-padding>
            <md-button flex class="md-raised md-accent" type="submit">
              LOGIN
            </md-button>
          </div>
        </form>
      </div>
    </md-content>

  </md-content>
</div>