<div ng-controller="kandangController as vm">

  <md-content layout-padding>
    <md-content style="display: flex; justify-content: center; align-items:center;">

      <a ui-sref="android/dashboard2" style="text-decoration: none;">
        <div class="home-baloon">
            <span>Lantai 2</span>
            <span style="margin-bottom: 24px;">Hari ke-{{vm.dateLantai2}}</span>

            <div layout="row">
              <span>IP <B>{{vm.ipL2}}</B></span>
              <span>FCR <B>{{vm.fcrL2}}</B></span>
            </div>

            <span>Suhu <B>{{vm.rerataSuhuL2}} &deg;C</B></span>
            <span>Kelembaban <B>{{vm.rerataHumidityL2}} %</B></span>
            <span>Feels Like <B>{{vm.rerataFeelsLikeL2}} &deg;C</B></span>
            <span>NH3 <B>{{vm.rerataAmmoniaL2}} ppm</B></span>

        </div>
      </a>

    </md-content>
  </md-content>
</div>