            <div ng-controller="kandangController as vm">
              <md-content layout-padding>
                <md-content style="display: flex; justify-content: center; align-items:center;">

                  <a ui-sref="android/dashboard1" style="text-decoration: none;">
                    <div class="home-baloon">
                        <span>Lantai 1</span>
                        <span style="margin-bottom: 24px;">Hari ke-{{vm.dateLantai1}}</span>

                          <div layout="row">
                            <span>IP <B>{{vm.ip}}</B></span>                          
                            <span>FCR <B>{{vm.fcr}}</B></span>
                          </div>

                        <span>Suhu <B>{{vm.rerataSuhu}} &deg;C</B></span>
                        <span>Kelembaban <B>{{vm.rerataHumidity}} %</B></span>
                        <span>Feels Like <B>{{vm.rerataFeelsLike}} &deg;C</B></span>
                        <span>NH3 <B>{{vm.rerataAmmonia}} ppm</B></span>

                    </div>
                  </a>

                </md-content>
              </md-content>
            </div>