<div ng-controller="adminController as vm">
  <div role="dialog" aria-label="Tambah Data" layout="column" layout-align="center center">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2 style="color: white;">Tambah Data</h2>
        <span flex></span>
        <md-button class="md-icon-button" aria-label="Close" ng-click="ctrl.closeDialog()">
          <md-icon md-svg-icon="assets/icons/close.svg"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <div class="demo-dialog-content">
      <form ng-submit="vm.tambahData()">
        <div layout="row">
          <md-input-container flex style="margin-top: 36px;">
            <label>Jumlah Ayam Mati</label>
            <input ng-model="vm.data.ayamMati" ng-init="vm.data.ayamMati=0" type="number">
          </md-input-container>
        </div>
        <div layout="row">
          <md-input-container flex>
            <label>Pakan Harian (Kg)</label>
            <input ng-model="vm.data.pakan" ng-init="vm.data.pakan=0" type="number">
          </md-input-container>
        </div>
        <md-button class="md-raised md-accent demo-dialog-button" 
                   type="submit" ng-click="ctrl.closeDialog()">
          Simpan
        </md-button>
      </form>
    </div>
  </div>
</div>