  <div role="dialog" aria-label="Scan Kartu" layout="column" layout-align="center center">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Ubah Data Kandang</h2>
      </div>
    </md-toolbar>

    <div class="demo-dialog-content">
      <form ng-submit="panel.ubahDataKandang">
        <div layout="row">
          <md-input-container class="md-block" flex>
            <label>No. RFID</label>
            <input ng-model="panel.kandang.rfid" type="text">
          </md-input-container>
        </div>
        <div layout="row">
          <md-input-container flex>
            <label>Lantai</label>
            <input ng-model="panel.kandang.lantai" type="number">
          </md-input-container>
          <md-input-container flex>
            <label>Posisi</label>
            <input ng-model="panel.kandang.posisi" type="number">
          </md-input-container>
        </div>
        <md-button class="md-raised md-accent demo-dialog-button" 
                   ng-click="ctrl.closeDialog()"
                   ng-disabled="!vm.data.noRfid || !vm.data.lantai || !vm.data.grid">
          Simpan
        </md-button>
      </form>
    </div>
  </div>