<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="Cimerang Farm">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Cimerang Farm</title>

  <!-- Angular Material style sheet -->
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- App Styling -->
  <link rel="stylesheet" href="../app/stylesheets/custom.css">
  <link rel="stylesheet" href="../app/stylesheets/table.css">

</head>
<body ng-app="farmCimerang" ng-cloak>
  <div ng-controller="mainController as vm" layout="column" layout-fill ng-cloak>

        <md-content class="md-padding" layout="column" style="background-color:white;">
              <div class="sensor-luar" ng-repeat="so in vm.data2">
                <h4>Suhu: {{so.a}} C</h4>
                <h4>Kelembaban: {{so.b}} %</h4>
              </div>

              <div layout="column" style="border: 1px solid #ddd">
                <div layout="row">
                  <span flex></span>
                  <div class="sensor-angin" ng-repeat="so in vm.data2">
                    <h4>Angin: {{so.c}} km/jam</h4>
                  </div>
                </div>

                <md-grid-list
                      md-cols="8"
                      md-row-height="2:3"
                      md-gutter="12px">

                      <md-grid-tile ng-repeat="grid in vm.data | orderBy:'posisi' | filter: { lantai: 1 }"
                                    ng-class="vm.color(grid.b)">
                        <md-grid-tile-footer class="footer">
                          <h3>{{grid.posisi}}</h3>
                          <h3>{{grid.$id}}</h3>
                          <h3>A : {{grid.a}}</h3>
                          <h3>B : {{grid.b}}</h3>
                          <h3>C : {{grid.c}}</h3>
                          <h3>D : {{grid.d}}</h3>
                          <h3>E : {{grid.e}}</h3>
                        </md-grid-tile-footer>
                      </md-grid-tile>

                </md-grid-list>
              </div>
                
              <table id="table" class="table table-hover table-bordered" style="border: 1px solid #ddd; margin-top:12px;">
                    <thead>
                    <tr>
                        <th>No. Sensor</th>
                        <th>Suhu</th>
                        <th>Kelembaban</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="si in vm.data3">
                        <td data-title="No. Sensor">{{si.$id}}</td>
                        <td data-title="Suhu">{{si.a}}</td>
                        <td data-title="Kelembaban">{{si.b}}</td>
                    </tr>
                    </tbody>
              </table>          
          </md-content>

  <!-- Angular.js Libraries -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
  <script src="//unpkg.com/angular-ui-router/release/angular-ui-router.min.js"></script>

  <!-- Angular Material Library -->
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
  
  <!-- My application bootstrap  -->
  <script src="../app/index.js"></script>
  <script src="../app/app.js"></script>  
  <script src="../app/controllers/MainController.js"></script>
  
  <!-- Initialize Firebase -->
  <script src="https://www.gstatic.com/firebasejs/3.5.2/firebase.js"></script>
  <script src="../app/scripts/config.js"></script>

  <!-- AngularFire -->
  <script src="https://cdn.firebase.com/libs/angularfire/2.0.1/angularfire.min.js"></script>
</body>
</html>