<div ng-controller="adminController as vm" md-theme="tabs">
  <div ng-controller="BasicDemoCtrl as ctrl">
    <md-content layout-padding>
      <span class="md-headline">Data Ayam Mati dan Pakan Harian</span>
    </md-content>
    <md-tabs md-dynamic-height md-border-bottom md-stretch-tabs="always" class="tabs-lantai">
      <md-tab label="Lantai 1" md-on-select="vm.onTabChanges(1)">        
          <div class="table-responsive-vertical md-whiteframe-z1">
            <table id="table" class="table table-hover table-bordered" md-theme="default">
              <thead>
                <tr>
                  <th>Tanggal</th>
                  <th>Jumlah Ayam Mati (ekor)</th>
                  <th>Pakan Harian (karung)</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="data in vm.data">
                  <td data-title="Tanggal">
                    <div ng-init="tanggal = vm.setTanggal(data.$id)">
                      {{tanggal}}                              
                    </div>
                  </td>
                  <td data-title="Ayam Mati">{{data.ayamMati}}</td>
                  <td data-title="Pakan Harian">{{data.pakan}}</td>
                  <td>
                    <div ng-show="data.$id == vm.now">
                      <md-button class="md-raised md-accent" ng-click="vm.hapusData(data.$id)">
                        Hapus
                      </md-button>
                    </div>
                  </td>            
                </tr>
              </tbody>
            </table>
          </div>       
      </md-tab>

      <md-tab label="Lantai 2" md-on-select="vm.onTabChanges(2)">
          <div class="table-responsive-vertical md-whiteframe-z1">
            <table id="table" class="table table-hover table-bordered" md-theme="default">
              <thead>
                <tr>
                  <th>Tanggal</th>
                  <th>Jumlah Ayam Mati (ekor)</th>
                  <th>Pakan Harian (karung)</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="data2 in vm.data2">
                  <td data-title="Tanggal">
                    <div ng-init="tanggal = vm.setTanggal(data2.$id)">
                      {{tanggal}}                              
                    </div>
                  </td>
                  <td data-title="Ayam Mati">{{data2.ayamMati}}</td>
                  <td data-title="Pakan Harian">{{data2.pakan}}</td>
                  <td>
                    <div ng-show="data2.$id == vm.now">
                      <md-button class="md-raised md-accent" ng-click="vm.hapusData2(data2.$id)">
                        Hapus
                      </md-button>
                    </div>
                  </td>            
                </tr>
              </tbody>
            </table>
          </div>
      </md-tab>      
    </md-tabs>
    <div ng-show="vm.lantai == 1">
      <md-button class="md-fab" aria-label="Tambah" ng-click="ctrl.showDialog($event)" md-theme="default">
        <md-icon md-svg-src="assets/icons/add.svg"></md-icon>
      </md-button>
    </div>
    <div ng-show="vm.lantai == 2">
      <md-button class="md-fab" aria-label="Tambah" ng-click="ctrl.showDialog2($event)" md-theme="default">
        <md-icon md-svg-src="assets/icons/add.svg"></md-icon>
      </md-button>
    </div>
  </div>
</div>    