<md-content class="md-padding" layout-padding>
	<span class="md-headline">Pengaturan Kandang</span>

	<h4>Lantai</h4>
	<form ng-submit="vm.addTab(tTitle,tContent)" layout="column" class="md-padding" style="padding-top: 0;">
    <div layout="row" layout-sm="column">
      <md-input-container>
        <label for="label">Lantai</label>
        <input type="text" id="label" ng-model="tTitle">
      </md-input-container>
      <md-input-container>
        <label for="content">Konten</label>
        <input type="text" id="content" ng-model="tContent">
      </md-input-container>      
    </div>
    <div layout="row" layout-sm="column">
    	<md-button class="md-accent md-raised" ng-disabled="!tTitle || !tContent" type="submit">Tambah</md-button>
    </div>
  </form>
</md-content>