<div ng-controller="BasicDemoCtrl as ctrl">
  <md-content style="background: white;">
    <md-list>
      <md-subheader class="md-no-sticky">Kalibrasi</md-subheader>
      <md-list-item>
          <p>Ammonia</p>
          <p class="md-secondary">{{vm.setAmmonia}}</p>
      </md-list-item>
      <md-list-item>
          <p>Anemometer</p>
          <p class="md-secondary">{{vm.setAnemometer}}</p>
      </md-list-item>
      <md-divider></md-divider>
      <md-subheader class="md-no-sticky">Sensor</md-subheader>
      <md-list-item>
          <p>Interval Check Sensor</p>
          <p class="md-secondary">{{vm.setInterval}}</p>
      </md-list-item>
      <md-divider></md-divider>
      <md-subheader class="md-no-sticky">Lantai 1</md-subheader>
      <md-list-item>
          <p>Jumlah Ayam</p>
          <p class="md-secondary">{{vm.setAyamLantai1}}</p>
      </md-list-item>
      <md-list-item>
          <p>Tanggal Mulai</p>
          <p class="md-secondary">{{vm.setMulaiLantai1}}</p>          
      </md-list-item>
      <md-list-item>
        <span flex></span>
        <md-button class="md-accent md-raised" ng-click="ctrl.showDialogPanen1()">
          PANEN
        </md-button>
        <md-button class="md-accent md-raised" ng-click="ctrl.showDialogMulai1()" ng-disabled="vm.setPanenLantai1 == false">
          MULAI
        </md-button>
      </md-list-item>
      <md-divider></md-divider>
      <md-subheader class="md-no-sticky">Lantai 2</md-subheader>
      <md-list-item>
          <p>Jumlah Ayam</p>
          <p class="md-secondary">{{vm.setAyamLantai2}}</p>
      </md-list-item>
      <md-list-item>
          <p>Tanggal Mulai</p>
          <p class="md-secondary">{{vm.setMulaiLantai2}}</p>
      </md-list-item>
      <md-list-item>
        <span flex></span>
        <md-button class="md-accent md-raised" ng-click="ctrl.showDialogPanen2()">
          PANEN
        </md-button>
        <md-button class="md-accent md-raised" ng-click="ctrl.showDialogMulai2()" ng-disabled="vm.setPanenLantai2 == false">
          MULAI
        </md-button>
      </md-list-item>
    </md-list>
  </md-content>
</div>